---
layout: default
title: Projects | tivvit.cz
id: projects
---
<h2>Portfolio</h2>
<p>This is somewhat complete list of my projects.</p>
<p>Maybe you were looking for <a href="/cv">my CV</a></p>

<ul class="portfolio-nav nav nav-pills">
    <li><a href="#ml">Machine Learning</a></li>
    <li><a href="#web-projects">Web projects (PHP, Python, JS)</a></li>
    <li><a href="#admin">Server / IT administration</a></li>
    <li><a href="#python">Python</a></li>
    <li><a href="#arduino">Arduino</a></li>
    <li><a href="#cpp">C++</a></li>
    <li><a href="#csharp">C#</a></li>
    <li><a href="#java">Java</a></li>
    <li><a href="#photo">Photography</a></li>
</ul>

<h3 id="ml">Machine Learning</h3>
<div>
    {% assign ml = site.projects | where:"type", "ml" %}
    {% for project in ml reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="web-projects">Web projects</h3>
<div>
    {% assign web_projects = site.projects | where:"type", "web" %}
    {% for project in web_projects reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="admin">Server / IT administration</h3>
<div>
    {% assign admin = site.projects | where:"type", "admin" %}
    {% for project in admin reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="python">Python</h3>
<div>
    {% assign python = site.projects | where:"type", "python" %}
    {% for project in python reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="arduino">Arduino</h3>
<div>
    {% assign arduino = site.projects | where:"type", "arduino" %}
    {% for project in arduino reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="cpp">C++</h3>
<div>
    {% assign cpp = site.projects | where:"type", "cpp" %}
    {% for project in cpp reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="csharp">C#</h3>
<div>
    {% assign csharp = site.projects | where:"type", "csharp" %}
    {% for project in csharp reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="java">Java</h3>
<div>
    {% assign java = site.projects | where:"type", "java" %}
    {% for project in java reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>

<h3 id="photo">Photography</h3>
<div>
    {% assign photo = site.projects | where:"type", "photo" %}
    {% for project in photo reversed %}
    {{ project | markdownify }}
    {% endfor %}
</div>
