<footer>
    <p>Feel free to contact me: <a href="mailto:vit.listik@gmail.com">vit.listik@gmail.com</a></p>
    <p>
    <a href="http://cz.linkedin.com/in/tivvit/"><img src="img/linkedin.png"></a>
    <a href="https://github.com/tivvit"><img src="img/github.png"></a>
    <a href="https://plus.google.com/u/0/+V%C3%ADtList%C3%ADk/"><img src="img/google.png"></a>
    <a href="https://twitter.com/tivwvit"><img src="img/twitter.png"></a>
    <a href="https://www.facebook.com/tivvit"><img src="img/facebook.png"></a>
    <a href="https://medium.com/@tivvit"><img src="img/medium.png"></a>
    <a href="https://keybase.io/tivvit"><img src="img/keybase.png"></a>
    </p>
    <p>
    <div class="icons_license">Icons made by <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a> from <a
            href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
        BY</a></div>
    </p>
</footer>