<footer>
    <p>Feel free to contact me: <a href="mailto:vit.listik@gmail.com">vit.listik@gmail.com</a>
    </p>
    <p>
        <a href="http://cz.linkedin.com/in/tivvit/">
            <img src="img/linkedin.png" alt="Linkedin"></a>
        <a href="https://github.com/tivvit">
            <img src="img/github.png" alt="Github"></a>
        <a href="https://twitter.com/tivwvit">
            <img src="img/twitter.png" alt="Twitter"></a>
        <a href="https://www.facebook.com/tivvit">
            <img src="img/facebook.png" alt="Facebook"></a>
        <a href="https://medium.com/@tivvit">
            <img src="img/medium.png" alt="medium"></a>
        <a href="https://keybase.io/tivvit">
            <img src="img/keybase.png" alt="keybase"></a>
    </p>
    <p>
    <div class="icons_license">Icons made by <a
            href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>
        from <a
                href="http://www.flaticon.com"
                title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/"
                title="Creative Commons BY 3.0" target="_blank" rel="noopener">CC 3.0
            BY</a></div>
    </p>
</footer>