<footer>
    <p>
        Feel free to contact me at <a href="mailto:vit.listik@gmail.com">vit.listik@gmail.com</a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/tivvit" target="_blank" rel="noopener noreferrer">
            <img src="/img/linkedin.webp" alt="Linkedin"></a>
        <a href="https://github.com/tivvit" target="_blank" rel="noopener noreferrer">
            <img src="/img/github.webp" alt="Github"></a>
        <a href="https://twitter.com/tivwvit" target="_blank" rel="noopener noreferrer">
            <img src="/img/twitter.webp" alt="Twitter"></a>
        <a href="https://www.facebook.com/tivvit" target="_blank" rel="noopener noreferrer">
            <img src="/img/facebook.webp" alt="Facebook"></a>
        <a href="https://medium.com/@tivvit" target="_blank" rel="noopener noreferrer">
            <img src="/img/medium.webp" alt="medium"></a>
        <a href="https://keybase.io/tivvit" target="_blank" rel="noopener noreferrer">
            <img src="/img/keybase.webp" alt="keybase"></a>
    </p>
    <p>
    <div class="icons_license">Icons made by <a
            href="http://www.flaticon.com/authors/icomoon" title="Icomoon" target="_blank" rel="noopener noreferrer">Icomoon</a>
        from <a
                href="http://www.flaticon.com"
                title="Flaticon" target="_blank" rel="noopener noreferrer">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/"
                title="Creative Commons BY 3.0" target="_blank" rel="noopener noreferrer">CC 3.0
            BY</a></div>
    </p>
</footer>