<div class="container">
    <nav>
        <ul class="nav nav-pills">
            <li {% if page.id == "about" %}class="active"{% endif %}><a href="/about">About me</a></li>
            <li {% if page.id == "projects" %}class="active"{% endif %}><a href="/">Portfolio</a></li>
            <li {% if page.id == "research" %}class="active"{% endif %}><a href="/research">Research</a></li>
            <li {% if page.id == "talks" %}class="active"{% endif %}><a href="/talks">Talks</a></li>
            <li><a href="http://blog.tivvit.cz/">Blog</a></li>
            <li {% if page.id == "photos" %}class="active"{% endif %}><a href="/photos">Photos</a></li>
            <li><a href="/cv" target="_blank" rel="noopener">Resume (CV)</a></li>
        </ul>
    </nav>
</div>