body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 80px;
}

.justify {
  text-align: justify;
}

.lineBlock {
  border-bottom: 1px solid black;
  padding: .2em 0;

  &:first-child {
    border-top: 1px solid black;
    padding-top: 0;
  }

  &:last-child {
    border-bottom-width: 2px;
  }
}

.lineBlock .content {
  width: 80%;
  float: left;
}


.lineBlockTop {
  border-top: 1px solid black;
}

.date {
  text-align: right;
}

.sidenote {
  text-align: right;
  font-style: italic;
}

@media print {
  a[href]:after {
    content: none;
  }

  .lineBlock .content {
    width: 90%;
  }

  body {
    padding-bottom: 0;
  }
}

h1, h2 {
  font-weight: 600;
}

h3 {
  font-size: 18px;
}

h2 {
  font-size: 20px;
  margin-bottom: .2em;
}

h1 {
  font-size: 30px;
}

#online-location {
  margin-top: 20px;
}

ul {
  margin-bottom: 0;
}

