body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 80px;
}

.lineBlock {
  border-bottom: 1px solid black;

  &:first-child {
     border-top: 1px solid black;
  }

  &:last-child {
     border-bottom-width: 2px;
  }
}

.lineBlock .content {
  width: 80%;
  float: left;
}

.date {
  text-align: right;
}

@media print {
  a[href]:after {
    content: none;
  }

  body {
    padding-bottom: 0;
  }
}

h1,h2 {
  font-weight: 600;
}

h3 {
  font-size: 18px;
}

h2 {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

#online-location {
  margin-top: 20px;
}

ul {
  margin-bottom: 0;
}