body {
    font-family: 'Open Sans', sans-serif;
    /*width: 60%;*/
    /*margin: 0 auto;*/
    padding-bottom: 80px;
}

.lineBlock {
    /*clear: both;*/
    /*overflow: auto;*/
    border-bottom: 1px solid black;
}

.block {
    margin-bottom: 2px;
}

.first {
    border-top: 1px solid black;
}

.lineBlock .content {
    width: 80%;
    float: left;
}

.date {
    /*width: 20%;*/
    /*float: left;*/
    text-align: right;
}

div {
    /*border: 1px solid black;*/
    /*margin: 1px;*/
}

@media print {
    a[href]:after {
        content: none;
    }
}


h2 {
    font-size: 20px;
}

h1 {
    font-size: 30px;
}
