<div class="project">
    <div class="clearfix project-header">
        <h4 class="col-sm-9">
            {% if page.link %}<a href="{{ page .link}}">{% endif %}{{ page.title }}{% if page.link %}</a>{% endif %}
            [{{ page.language }}]
            {% if page.git %}<a href="{{ page.git }}"><img class="git" src="img/git.svg"></a>{% endif %}
            <span class="date">{{ page.date | date: "%m/%d/%Y" }}</span></h4>
        <div class="col-sm-3 text-sm-right tags">
            {% for label in page.labels %}<span class="label label-default">{{ label }}</span> {% endfor %}
        </div>
    </div>
    <div class="project-description">
        Event: {{ page.event }} ({{ page.place }})<br>
        {% if page.video %}<a href="{{ page.video }}">video</a>{% endif %}
        {% if page.slides %}<a href="{{ page.slides }}">slides</a>{% endif %}
        {{ content }}
    </div>
</div>
